@import url('fonts.css');

* {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  margin: 0
}

body {
  background-color: #f4f4f4;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(1.1);
}

button:disabled {
  filter: opacity(0.5);
  cursor: wait;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: row;
  align-items: center;
}

canvas#bg {
  position: fixed;
  z-index: -1;
}